ion-content.background {
    --background: url(https://www.wallpapertip.com/wmimgs/3-33420_iphone-wallpaper-minimalist.jpg) 0 0/100% 100% no-repeat;

}

.card {

    transform: translateY(-50%);
    top: 50%;
    position: relative;
    width: 95%;

  }