ion-content.background {
    --background: url(https://a-static.besthdwallpaper.com/fate-grand-order-medea-wallpaper-320x480-17580_170.jpg) 0 0/100% 100% no-repeat;

}

.card {
    background-color: rgb(255, 255, 255); // black

    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: 95%;

  }