ion-content.background {
    --background: url(https://i.pinimg.com/236x/a2/fc/f2/a2fcf29f9ae006fba1b2655d2a44b775.jpg) 0 0/100% 100% no-repeat;

}

.card {
    background-color: rgb(255, 255, 255); // black

    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: 95%;

  }