
.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
}

.auth-form ion-grid,
.auth-form ion-row {
    height: 100%;
    justify-content: center;
}

.already {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

ion-content.background {
    --background: url(https://i.pinimg.com/564x/e9/67/10/e967101ed1b4255a2f8ebd3632ffd3da.jpg) 0 0/100% 100% no-repeat;

}

.card {
    background-color: rgb(255, 255, 255); // white
    transform: translateY(-50%);
    top: 50%;
    height: auto;
    position: relative;
  }

ion-login .forgotPassword {
    background-color: rgb(255, 255, 255); // white
    transform: translateY(-50%);
    top: 50%;
    height: auto;
    position: relative;
  }
