
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot= "start">
        <ion-button [routerLink]="['/usermenu']">KAP </ion-button>
        <ion-menu-button>

        </ion-menu-button>
        <ion-title *ngIf="!ios && !showSearchbar">Knowledge Accreditation Platform</ion-title>

      </ion-buttons>

      

    </ion-toolbar>
  </ion-header>

  <ion-content padding class="background"> 
  </ion-content>

  

  <!--ion-menu side="start" menuId="userContent" contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      <ion-buttons slot='end'>
        <ion-button shape="round"  (click) = "closeMenu()">
          <ion-icon slot='icon-only' name="close"></ion-icon>
        </ion-button>
      </ion-buttons>

      
      </ion-toolbar>
    </ion-header>
    <ion-content>
      
        <ion-item >
            <ion-avatar class = "item-avatar" slot = "start">
              <ion-img [src]="user.imageURL"></ion-img>
            </ion-avatar>
            <ion-label>
              {{user.name}}
            </ion-label>
        </ion-item>

      
  
        
        <ion-list lines="none" *ngFor="let pages of navigate">    
            <ion-item [routerLink]="pages.url" routerDirection="forward">  
              <ion-icon [name]="pages.icon" slot="start"></ion-icon>  
              {{pages.title}}   
            </ion-item>  
          </ion-list>  

    </ion-content>
  </ion-menu>
  <ion-content id="userContent"></ion-content-->



