<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="usermenu"> </ion-back-button>
    </ion-buttons>
    <ion-title >Mis Acreditaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card text-center *ngFor="let acreditacion of acreditaciones">
      <ion-card-title  class="ion-text-center">
        {{acreditacion.titulo}}
      </ion-card-title>
      <ion-card-content >
        <ion-text class="ion-text-justify" >{{acreditacion.descripcion.substring(0,249)}}...</ion-text>
      </ion-card-content>
      <ion-card-subtitle class="ion-text-end"> 
        <ion-button shape="round"  size = "small"class= "conocimiento"*ngFor = "let conocimiento of acreditacion.conocimiento.split(':')" color="danger">
          <ion-label>{{conocimiento}}</ion-label>
        </ion-button>
      </ion-card-subtitle>
    

    </ion-card>
  </ion-list>


</ion-content>
