<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/usermenu']">KAP </ion-button>
      <ion-back-button defaultHref="usermenu"> </ion-back-button>
    </ion-buttons>
    <ion-title>Mis Acreditaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card style="padding:1rem" text-center *ngFor="let acreditacion of acreditaciones"
      [routerLink]="['/accreditations/'+acreditacion.idAcreditacion]">
      <ion-card-title class="ion-text-center">
        {{acreditacion.titulo}}
      </ion-card-title>
      <ion-card-content>
        <ion-text class="ion-text-justify">{{acreditacion.descripcion.substring(0,249)}}<ion-label
            *ngIf="acreditacion.descripcion.length>249">...</ion-label>
        </ion-text>

      </ion-card-content>
      <ion-card-subtitle class="ion-text-end">
        <a *ngFor="let conocimiento of acreditacion.conocimiento.split(':'); let i = index">
          <ion-button *ngIf="i===0" shape="round" disabled="true" size="small" class="conocimiento" color="primary">
            <ion-label>{{conocimiento}}</ion-label>
          </ion-button>
          <ion-button *ngIf="i===1" shape="round" disabled="true" size="small" class="conocimiento" color="secondary">
            <ion-label>{{conocimiento}}</ion-label>
          </ion-button>
          <ion-button *ngIf="i===2" shape="round" disabled="true" size="small" class="conocimiento" color="tertiary">
            <ion-label>{{conocimiento}}</ion-label>
          </ion-button>
        </a>
      </ion-card-subtitle>


    </ion-card>
  </ion-list>


</ion-content>