<ion-app>
 
  <ion-menu side="start" menuId="menuContent" contentId="menu-content" type="overlay">
   
    <ion-content>
       
      <ion-item >
        <ion-avatar class = "item-avatar" slot = "start">
          <ion-img shape="round" [src]="user.imageURL"></ion-img>
        </ion-avatar>
        <ion-label>
          {{user.name}}
        </ion-label>
    </ion-item>

        
        <ion-list lines="none">  
          <ion-menu-toggle *ngFor="let pages of navigate" auto-hide="false">  
            <ion-item [routerLink]="pages.url" routerDirection="forward">  
              <ion-icon [name]="pages.icon" slot="start"></ion-icon>  
              <ion-label>{{pages.title}}</ion-label>   
            </ion-item>  
          </ion-menu-toggle>  
          </ion-list>  

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-app>