<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>Aspirantes de la acreditación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let usuario of aspirantes">
      <h2>{{usuario.first_name}} {{usuario.last_name}}</h2>
      <ion-button *ngIf="usuario.estado =='No'" (click)="aceptar(usuario)" Slot="end" color="success">Aceptar
      </ion-button>
      <ion-button *ngIf="usuario.estado =='No'" (click)="rechazar(usuario)" Slot="end" color="danger">Rechazar
      </ion-button>
      <ion-button *ngIf="usuario.estado =='Si1'" Slot="end" disabled color="success">Aceptado</ion-button>
      <ion-button *ngIf="usuario.estado =='Si2'" Slot="end" disabled color="danger">Rechazado</ion-button>

      <h2 Slot="end" *ngIf="usuario.estado == 'Finalizado'">Aceptado</h2>
    </ion-item>
  </ion-list>

</ion-content>