
<ion-content padding class="background">
  <ion-card class="card">
    <ion-card-content>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Registrarse</ion-button>

        <span class="divider line one-line">o</span>

        <span class="already">¿Ya tiene un usuario?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Iniciar sesión</ion-button>
      </ion-col>
    </ion-card-content>
  </ion-card>
</ion-content>
