ion-menu-button {
    color: var(--ion-color-primary);
  }
ion-label{
  padding-left: 2em;
}
.listaRamas{
  padding-left: 1em;
}
.listaSubRama{
  padding-left: 1em;

}
.listaSubEsp{
  padding-left: 1em;

}